<img src="<%= @group.photo %>" width=400px height=240px>

<div class="groupinfo">

  <h2><%= @group.name%></h2>

  <table>
    <tr>
      <td>City:</td>
      <td><%= @group.city%></td>
    </tr>
    <tr>
      <td>Meeting Point:</td>
      <td><%= @group.meeting_point%></td>
    </tr>
    <tr>
      <td>Day & Time:</td>
      <td><%= @group.day_time%></td>
    </tr>
    <tr>
      <td>Contact:</td>
      <td><%= @group.contact%></td>
    </tr>
    <tr>
      <td>Information:</td>
      <td><%= @group.info%></td>
    </tr>
  </table>


    <% if logged_in? %>
    <a href="/groups/<%= @group.id %>/edit"><b>Edit</b></a>


  <h3>Group Messages</h3>

    <form action="/messages" method="post">
      <input type="hidden" name="group_id" value="<%= @group.id %>">
      <textarea name="content"></textarea>
      <button>Post</button>
    </form>
    <% end %>
</div>
