
<article class="searchwrap">

<h2>Search</h2>

  <div class="search">
    <form action="/search" method="get">
      <input placeholder="Search Group Name" type="text" name="userInput"/>
      <input type="submit" name="" value="Search"/>
    </form>

    <form action="/search" method="get">
      <input placeholder="Search City" type="text" name="userInputcity"/>
      <input type="submit" name="" value="Search"/>
    </form>

    <form action="/search" method="get">
      <input placeholder="Search Day" type="text" name="userInputday"/>
      <input type="submit" name="" value="Search"/>
    </form>
  </div>

  <div class="result">
    <h3>Your search results</h3>
      <% if params["userInput"] && @result.length > 0 %>
        <% @result.each do |result| %>
          <table>
            <tr>
              <td><a href='<%= "/groups/#{result.id}" %>'><%= result.name %></a></td>
              <td><a href='<%= "/groups/#{result.id}" %>'><%= result.city %></a></td>
              <td><a href='<%= "/groups/#{result.id}" %>'><%= result.day_time %></a></td>
            <tr>
          </table>
          <br>
        <% end %>
      <% end %>
      <% if params["userInput"] && @result.length == 0 %>
        <p><%= "Sorry, no groups exist" %></p>
      <% end %>

      <% if params["userInputcity"] && @resultcity.length > 0 %>
        <% @resultcity.each do |resultcity| %>
          <table>
            <tr>
              <td><a href='<%= "/groups/#{resultcity.id}" %>'><%= resultcity.name %></a></td>
              <td><a href='<%= "/groups/#{resultcity.id}" %>'><%= resultcity.city %></a></td>
              <td><a href='<%= "/groups/#{resultcity.id}" %>'><%= resultcity.day_time %></a></td>
            </tr>
          </table>
          <br>
        <% end %>
      <% end %>
      <% if params["userInputcity"] && @resultcity.length == 0 %>
        <p><%= "Sorry, no groups exist" %></p>
      <% end %>

      <% if params["userInputday"] && @resultday.length > 0 %>
        <% @resultday.each do |resultday| %>
          <table>
            <tr>
              <td><a href='<%= "/groups/#{resultday.id}" %>'><%= resultday.name %></a></td>
              <td><a href='<%= "/groups/#{resultday.id}" %>'><%= resultday.city %></a></td>
              <td><a href='<%= "/groups/#{resultday.id}" %>'><%= resultday.day_time %></a></td>
            </tr>
          </table>
          <br>
        <% end %>
      <% end %>
      <% if params["userInputday"] && @resultday.length == 0 %>
        <p><%= "Sorry, no groups exist" %></p>
      <% end %>

  </div>
  <form action="/search" method="get">
    <button>Refresh page</button>
  </form>
</article>
