
<article class="searchwrap">

<h2>Search</h2>

  <div class="search">
    <form action="/search" method="get">
      <input placeholder="Search Group Name" type="text" name="userInputName"/>
      <input type="submit" name="" value="Search"/>
    </form>

    <form action="/search" method="get">
      <input placeholder="Search City" type="text" name="userInputCity"/>
      <input type="submit" name="" value="Search"/>
    </form>

    <form action="/search" method="get">
      <input placeholder="Search Day" type="text" name="userInputDay"/>
      <input type="submit" name="" value="Search"/>
    </form>
  </div>

  <div class="result">
    <h3>Your search results</h3>
      <% if params["userInputName"] && @resultname.length > 0 %>
        <% @resultname.each do |resultname| %>
          <table>
            <tr>
              <td><a href='<%= "/groups/#{resultname.id}" %>'><%= resultname.name %></a></td>
              <td><a href='<%= "/groups/#{resultname.id}" %>'><%= resultname.city %></a></td>
              <td><a href='<%= "/groups/#{resultname.id}" %>'><%= resultname.day_time %></a></td>
            <tr>
          </table>
          <br>
        <% end %>
      <% end %>
      <% if params["userInputName"] && @resultname.length == 0 %>
        <p><%= "Sorry, no groups exist" %></p>
      <% end %>

      <% if params["userInputCity"] && @resultcity.length > 0 %>
        <% @resultcity.each do |resultcity| %>
          <table>
            <tr>
              <td><a href='<%= "/groups/#{resultcity.id}" %>'><%= resultcity.name %></a></td>
              <td><a href='<%= "/groups/#{resultcity.id}" %>'><%= resultcity.city %></a></td>
              <td><a href='<%= "/groups/#{resultcity.id}" %>'><%= resultcity.day_time %></a></td>
            </tr>
          </table>
          <br>
        <% end %>
      <% end %>
      <% if params["userInputCity"] && @resultcity.length == 0 %>
        <p><%= "Sorry, no groups exist" %></p>
      <% end %>

      <% if params["userInputDay"] && @resultday.length > 0 %>
        <% @resultday.each do |resultday| %>
          <table>
            <tr>
              <td><a href='<%= "/groups/#{resultday.id}" %>'><%= resultday.name %></a></td>
              <td><a href='<%= "/groups/#{resultday.id}" %>'><%= resultday.city %></a></td>
              <td><a href='<%= "/groups/#{resultday.id}" %>'><%= resultday.day_time %></a></td>
            </tr>
          </table>
          <br>
        <% end %>
      <% end %>
      <% if params["userInputDay"] && @resultday.length == 0 %>
        <p><%= "Sorry, no groups exist" %></p>
      <% end %>

  </div>
  <form action="/search" method="get">
    <button>Refresh page</button>
  </form>
</article>
